*{
    text-decoration: none;
    font-family: 'Arial', 'Rounded MT';
    font-weight: bold;
    letter-spacing: 1.5px;
}
/* #myVideo {
    width: 100%;
    top: 0;
} */

body{
    background-color: black;
    color: white;
    overflow: hidden;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../Images/BG.jpg);
  opacity:15%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadein 3s linear;
}

@keyframes fadein{
    from{
        opacity: 0%;
    }
    to{
        opacity: 15%;
    }
}

.logo{
    position: fixed;
    top: 30px;
    left: 0;
    opacity: 60%;
    padding-left: 80px;
    font-size: 30px;
    color: #ff8b00;
    font-family: 'Forte', 'Regular';
    letter-spacing: 2px;
    text-decoration: none;
    animation: logodown 1.5s ease;
}

.logo:hover{
    opacity: 100%;
    transition: 0.8s;
}

@keyframes logodown{
    from{
        top: -100px;
        opacity: 0%;
    }
    to{
        top: 30px;
        opacity: 60%;
    }
}

.navbar-center ul{
    position: fixed;
    display: flex;
    width: 10px;
    right: 27%;
    top: 30px;
    /* opacity: 60%; */
    animation: slidedown 1.5s ease;
}

@keyframes slidedown{
    from{
        top: -100px;
    }
    to{
        top: 30px;
    }
}

.navbar-center .btn a{
    top: -8.5px;
    left: 20px;
    border: 2px solid #ff8b00;
    background-color: #ff8b00;
    border-radius: 8px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
    display: flex;
    gap: 8px;
    font-size: 15px;
    letter-spacing: 1.5px;
    width: 125px;
    height: 35px;
    opacity: 60%;
    animation: fadein 1s linear;
}

.navbar-center .btn a i{
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

.navbar-center .btn a:hover{
    opacity: 100%;
    transition: 0.8s;
    text-shadow: 0 0 10px #ff8b00;
}

span{
    color: white;
    padding: 25px;
    opacity: 60%;
    font-size: 18px;
}

#star{
    opacity: 100%;
}

#contact{
    animation: fadein 1s linear;
}

span:hover{
    text-shadow: 0 0 10px white;
    opacity: 100%;
    transition: 0.8s;
}

.navbar-left{
    position: relative;
    border: 2px solid white;
    width: 45px;
    height: 250px;
    border-radius: 50px;
    margin-top: 240px;
    margin-left: 90px;
    animation: slideright 1.5s ease-out;
    z-index: 1;
}

 .navbar-left a{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    right: -1.5px;
    padding: 18px;
    font-size: 25px;
    color: white;
    opacity: 60%;
}

.navbar-left a:hover{
    text-shadow: 0 0 10px white;
    opacity: 100%;
    transition: 0.8s;
} 
   
@keyframes slideright{
    from{
        margin-left: -90px;
    }
    to{
        margin-left: 90px;
    }
}

.content .text h1
{
    position: relative;
    display: flex;
    justify-self: center;
    bottom: 170px;
    font-size: 50px;
    font-weight: 700px;
    font-family: cursive;
    color: transparent;
    -webkit-text-stroke: .7px white;
    opacity: 50%;
    transform: translateY(0px);
    animation: bottom-up 1.3s linear;
}

@keyframes bottom-up{
    from{
        transform: translateY(200px);
        opacity: 0%;
    }
    to{
        transform: translateY(0px);
        opacity: 50%;
    }

}
